<html>
<head>
<title>Online Catalogue</title>
<link type="text/css" rel="stylesheet "href="{{ url_for('static', filename='style.css')}}" />
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header>
	<a href="{{ url_for('index') }}"><h1>Music Catalogue<h1></a>
	<ul>
		<a href="/all_artists/albums/"><li>Albums</li></a>
		<a href="#"><li>Genre</li></a>
	</ul>
</header>

	{% if album %}
{% for album in album if album.album_name == album_name %}
	<img src="{{ album.img }}" width=100%></img>
{% endfor %}

{% endif %}
<footer>
	<p>&copy; Produced and Designed by Marcin Augustyn, All rights reserved. 2016.</p>
</footer>
</body>
</html>