<html>
<head>
<title>Online Catalogue</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link type="text/css" rel="stylesheet "href="{{ url_for('static', filename='style.css')}}" />
</head>
<body>
<header>
	<a href="{{ url_for('index') }}"><h1>Music Catalogue<h1></a>
	<ul>
		<a href="/albums/"><li>Albums</li></a>
		<a href="#"><li>Genre</li></a>
	</ul>
</header>
Hello album page {{ artist_name }} - {{ album }} ({{ date_of_release }})
<footer>
	<p>&copy; Produced and Designed by Marcin Augustyn, All rights reserved. 2016.</p>
</footer>
</body>
</html>