<html>
<head>
	<title>{{ artist_name }}</title>
	<link type="text/css" rel="stylesheet "href="{{ url_for('static', filename='style.css')}}" />
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<!--Header-->
	<header>
		<a href="{{ url_for('index') }}"><h1>Music Catalogue<h1></a>
		<ul>
			<a href="{{ url_for('index') }}"><li>Artists</li></a>
			<a href="{{ url_for('albums') }}"><li>Albums</li></a>
			<a href="{{ url_for('genres') }}"><li>Genres</li></a>
		</ul>
	</header>
	
<!--This loop displays artist photo-->
	{% for artist in artist if artist.artist_name == artist_name %}
		<img src="{{ artist.img_artist }}" width=100%></img>
	{% endfor %}

<!--This loop displays the artist information-->
	<div class="artist-page">
		{% for artist in artist if artist.artist_name == artist_name %}
			<h1>{{ artist.artist_name }}</h1>
			<p>{{ artist.bio }}</p>
			<p>{{ artist.date_of_release }}</p>
		{% endfor %}

		<h1>albums</h1>
		
	<!--This loop displays artist albums-->
		{% for item in albums if item.artist_name == artist_name %}
			<div class="artist-album">
				<a href=/{{ item.artist_name.replace(" ","%20") }}/{{ item.album_name.replace(" ","%20") }}>{{ item.album_name }}</a> ({{ item.date_of_release }})
				<a href=/{{ item.artist_name.replace(" ","%20") }}/{{ item.album_name.replace(" ","%20") }}><img src="{{ item.img }}"></img></a>
			</div>
		{% endfor %}
	</div>

<!--Footer-->
	<footer>
		<p>&copy; Produced and Designed by Marcin Augustyn, All rights reserved. 2016.</p>
	</footer>
</body>
</html>
