@import url('https://fonts.googleapis.com/css?family=Carrois+Gothic+SC|Julius+Sans+One|Mada|Scada');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration:none;
	color:inherit;
}

body{
	margin:0;

	font-family: 'Carrois Gothic SC', sans-serif;
	text-transform:uppercase;
	background: url("images/background.png"); 
}
header{
	background:#000;
	height:100px;
	width:100%;
	text-align:center;
	color:#fff;
	background: url("images/header-background2.png") no-repeat; 
	padding-top:0;
}

ul{
	list-style:none;
	text-align:center;
	
}
h1{
	font-size:18pt;
	padding-top:15px;
}
h2{
	font-size:14pt;
}
ul li{
	text-decoration:none;
	display:inline;
	padding-right:20px;
	font-size:12pt;
	color:#ccffcc;
}
ul li:hover{
	color:#ff6666;
}
.header {
	text-align:center;
}
.active {
	color:#66ccff;
}
.tracks li {
	color:#000;
	float:none;
}
.tracks {
	color:#000;
	float:none;
}
.artist {
	width:33%;
	display:inline-block;
	text-align:center;
	padding-left:auto;
	padding-right:auto;
	margin-top:2%;
	margin-bottom:2%;
}
.img-hover:hover  {
	  filter:sepia(50%);
}
.artist-page{
	text-align:center;
}
.artist img{
		margin-top:2%;
	margin-bottom:2%;
}
.artist-page p{
	text-align:left;
	line-height:1.5em;
	width:70%;
	margin-left:auto;
	margin-right:auto;
	padding-top:1%;
}
.album {
	width:22%;
	display:inline-block;
	text-align:center;
	padding:1%;
}
.album img {
	padding-top:2%;
	padding-bottom:2%;
	width:60%;
}
.artist-album{
	min-width:10%;
	max-width:15%;
	display:inline-block;
	text-align:center;
	padding:3%;
}
.artist-album img{
	width:100%;
}
footer{
	background:#000;
	height:40px;
	width:100%;
	text-align:center;
	color:#fff;
	background: url("images/header-background2.png") no-repeat; 
	padding-top:20px;
	clear:both;
}
.single_album{
	text-align:left;
	float:left;
	width:15%;
	padding-left:9%;
	padding-top:1%;
	
}
.album_header{
	text-align:center;
}
.genre img{
	width:100%;
}
@media screen and (max-width: 1160px) {
	.album {
		width:30%;
		padding:1%;
	}
	
}

@media screen and (max-width: 1020px) {
	.artist {
		width:49.2%;
		display:inline-block;
		text-align:center;
		padding-top:2%;
		padding-bottom:2%;
	}
	.artist img{
		width:80%;
		padding:2%;
	}
	.artist-album{
		min-width:15%;
		max-width:25%;
	}
}

@media screen and (max-width: 860px) {
	.album {
		width:45%;
		padding:2%;
	}
	header{
		height:80px;
		background: url("images/header-background.png") no-repeat; 
	}
	h1{
		font-size:18pt;
		padding-top:10px;
	}
}
@media screen and (max-width: 460px) {
	.album {
		width:90%;
		padding:4%;
	}
	.artist {
		width:90%;
		padding-left:5%;
		padding-top:4%;
		padding-bottom:4%;
	}
	.artist img {
		max-width:70%;
	}
	footer{
		height:40px;
		padding-top:10px;
		font-size:9pt;
	}
	.artist-album {
		min-width:70%;
		max-width:75%;
		padding:5%;
	}
	.genre{
		margin-top:20%;
		margin-bottom:20%;
	}

}

				
