@import url('https://fonts.googleapis.com/css?family=Carrois+Gothic+SC|Julius+Sans+One|Mada|Scada');

/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration:none;
	color:inherit;
}

/* General styles */
body{
	margin:0;
	font-family: 'Carrois Gothic SC', sans-serif;
	text-transform:uppercase;
	background: url("images/background.png"); 
}
h1{
	font-size:18pt;
	padding-top:15px;
}
h2{
	font-size:14pt;
}
header{
	background:#000;
	height:100px;
	width:100%;
	text-align:center;
	background-color:#161b1f;
	padding-top:0;
}
header h1{
	color:#fff;
}
footer{
	height:40px;
	width:100%;
	text-align:center;
	color:#efe9d0;
	background-color:#161b1f;
	padding-top:20px;
	clear:both;
}
.heading{
	text-align:center;
}
.fullimg img{
	width:100%;
}
/* Navigation styles */
ul{
	list-style:none;
	text-align:center;
	
}
ul li{
	text-decoration:none;
	display:inline;
	padding-right:20px;
	font-size:12pt;
	color:#efe9d0;
}
ul li:hover{
	color:#dbd8ce;
}
.active {
	color:#ffdb3f;
}

/* Single album styles*/
.tracks li {
	color:#000;
	float:none;
	display:list-item;
	text-align:left;
	padding:1%;
	padding-left:0;
}
.tracks li:hover{
	color:#000;
}
.album {
	width:22%;
	display:inline-block;
	text-align:center;
	padding:1%;
}
.album img {
	padding-top:2%;
	padding-bottom:2%;
	width:60%;
}

/* Artist page styles*/
.artist {
	width:33%;
	display:inline-block;
	text-align:center;
	padding-left:auto;
	padding-right:auto;
	margin-top:2%;
	margin-bottom:2%;
}
.artist-page{
	text-align:center;
}
.artist img{
	margin-top:2%;
	margin-bottom:2%;
}
.artist-page p{
	text-align:left;
	line-height:1.5em;
	width:70%;
	margin-left:auto;
	margin-right:auto;
	padding-top:1%;
}
.artist-album{
	min-width:10%;
	max-width:15%;
	display:inline-block;
	text-align:center;
	padding:3%;
}
.artist-album img{
	width:100%;
}

/* Album page styles*/
.single_album{
	text-align:left;
	float:left;
	width:30%;
	padding-left:10%;
	padding-right:10%;
	padding-top:2%;
	padding-bottom:2%;
}
.single_album h2{
	padding-top:2%;
	padding-bottom:2%;
}
.single_album img{
	min-width:50%;
	max-width:70%;
}

/* Album page button */
.album-button a{
	background-color:#000;
	color:#fff;
	padding:10px;
	text-align:center;
}
.album-button {
	width:auto;
	text-align:center;
	clear:left;
	padding-top:25px;
	padding-bottom:25px;
	margin-left:auto;
	margin-right:auto;
}

/* Responsive mobile styles */	
@media screen and (max-width: 1160px) {
	.album {
		width:30%;
		padding:1%;
	}
	.tracks ul li{
		text-align:center;
	}
}

@media screen and (max-width: 1020px) {
	.artist {
		width:49.2%;
		display:inline-block;
		text-align:center;
		padding-top:2%;
		padding-bottom:2%;
	}
	
	.artist img{
		width:80%;
		padding:2%;
	}
	.artist-album{
		min-width:15%;
		max-width:25%;
	}
}

@media screen and (max-width: 860px) {
	.album {
		width:45%;
		padding:2%;
	}
	header{
		height:80px;
	}
	h1{
		font-size:18pt;
		padding-top:10px;
	}
	.single_album{
		text-align:center;
		float:left;
		width:90%;
		padding-left:5%;
		padding-right:5%;
		padding-top:2%;
		padding-bottom:5%;
	}
	.tracks li{
		text-align:center;
	}
	
}
@media screen and (max-width: 460px) {
	.album {
		width:90%;
		padding:4%;
	}
	.artist {
		width:90%;
		padding-left:5%;
		padding-top:4%;
		padding-bottom:4%;
	}
	.artist img {
		max-width:70%;
	}
	footer{
		height:40px;
		padding-top:10px;
		font-size:9pt;
	}
	.artist-album {
		min-width:70%;
		max-width:75%;
		padding:5%;
	}
	.full-img{
		margin-top:20%;
		margin-bottom:20%;
	}

}			

/* End of styles */